body {
    font-family: 'Roboto', sans-serif;
}

.container-wrapper {}

.container-wrapper--green {
    background-color: rgba(243, 223, 156, 0.4);
}
.alert-container .col-12{
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #ffec40;
    border-color: #ffec40;
    text-align: center
}

.callout-container {
    height: 100vh;

    background: url("../images/jameson.png") no-repeat top right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    }

.quotes-container {}

.features-container {} 

/* Page headers */
.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2{
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/* Block Dividers */
.block-divider {
    width: 85%;
    height: 4px;
    border: 0;
    background-color: #a36a26;
}

/* Content container */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,.6);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Jumbotron */
.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #a0fb57;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Buttons */
.btn--cta {
    font-weight: bold;
    border-radius: 21px;
    width: 160px;
}

.btn--green {
    color: white;
    background-color: #3bcf0d;
    border-color: #3bcf0d;
    
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: #2f9c0e;
    border-color: #2f9c0e;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
    color: #a36a26; 
}

.feature .btn {
    background-color: #a36a26;
    border-color: #a36a26;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color:white;
}